<%- include("partials/header.ejs") %>

<section class="middle">
    <main class="form-signin w-100 m-auto">
        <form method="post" action="/create">
            <h1 class="h3 mb-3 fw-normal">Create a blog</h1>

            <div class="form-floating mb-2">
                <input type="text" name="blogTitle" class="form-control" id="floatingInput" placeholder="Title" />
                <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" name="blogDescription" class="form-control" id="floatingPassword" placeholder="Description" />
                <label for="floatingPassword">Description</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Create</button>
        </form>
    </main>
</section>

<%- include("partials/footer.ejs") %>